{
        
        "mb" : {
                "media" : "/media",
                "root" : "",
                "uploads" : "/var/www/media/uploads/",
                "admin_login" : "Admin",
                "admin_password" : "Password",
                "languages" : {
                        "en" : "en_US.UTF-8" ,
                        "ru" : "ru_RU.UTF-8"
                },
                // Choose your datebase type
                //"connection_string" : "sqlite3:db=mb.db;@pool_size=10"
                //"connection_string" : "mysql:database=name_of_datebase;user=user_of_datebase;password=password;@pool_size=10"
        },
        "service" : {
                "api" : "fastcgi",
                "socket" : "/tmp/mb-fcgi.sock"
        },
        "views" : {
                 "paths" : [ "/usr/local/lib/mb" ],
                 "skins" : [ "simple" ],
        },
        "file_server" : {
                "enable" : true,
                "document_root" : "/var/www/"
        },
        "session" : {
                "expire" : "renew",
                "timeout" : 604800,
                "location" : "client",
                "client" : {
                        "hmac" : "sha1",
                        //"hmac_key" : "Your hmac_key"
                }
        },
        "cache" : {
                "backend" : "thread_shared",
                "limit" : 100,
        },
        "security" : {
                "csrf" : {
                        "enable" : true,
                        "exposed" : true
                }
        },
        "localization" : {
                "messages" : {
                        "paths" : [ "/usr/local/share/locale" ],
                        "domains" : [ "mb" ]
                },
                "locales" : [
                		"ru_RU.UTF-8", 
                        "en_US.UTF-8"
                ]
        }
}

