<% skin %>

<% view base_thread uses data::thread_shared  extends master %>

<% template msg_header(data::msg &m) %>
<a name="p<%= m.msg_id %>"></a>

<span class="author"><%= m.author %></span>
<%= m.date %>
No.<%= m.msg_id %>
<a href="javascript:insert('&gt;&gt;<%= m.msg_id %>\n')"><% gt "Reply" %></a>
<% end %>

<% template msg_cnt(data::msg  &m) %>
<%= m.content | ext text2html %>
<% end %>

<% template msg(data::msg &m) %>
<% include msg_header(m) %>
</div>
<% if (!(m.file=="")) %>
<div class="file">
<a href="../media/uploads/<%= m.tid %>_<%= m.msg_id %>.<%= m.file %>" target="_blank">
<% if (m.thumb==1) %>
<img src="../media/uploads/thumb_<%= m.tid %>_<%= m.msg_id %>.<%= m.file %>" alt="File(<%= m.file %>)" title="Uploaded file" />
<% else %>
<img src="../media/images/<%= m.file %>.png" width="48" high="48" alt="File(<%= m.file %>)" title="Uploaded file" />
<% end %>
</a>
</div>
<% end %>
<div class="comment">
<% include msg_cnt(m) %>
<% end %>

<% template title() %><% gt "Disussion: {1}" using title %><% end template %>


<% end view %>


<% view user_thread uses data::user_thread  extends base_thread %>

<% template links() %>
<% include master::links() %>
        <a href="<% url "/forums"%>"><% gt "Home" %></a>
<% end %>

<% template postform() %>
        <div class="forms"><a name="end"></a>
        <form id="postform"  action="#end" method="post" enctype="multipart/form-data" ><% csrf %>
        <table>
                <% form as_table form.author %>
                <% form as_table form.comment %>
                <% form as_table form.file %>
                <% form as_table form.send %>
        </table>
        </form>
        <% include master::note() %>
        </div>
<% end template %>


<% template body() %>
        <% foreach message in messages %>
                <span class="title"><h2><% gt "Lists of the posts" %></h2></span>
                <% item %><table class="posts">
                <tr><td>
				<div class="post_flat">
				<div class="post_title">
                <% include msg(message) %>
                </div></div></td></tr>
                </table><% end %>
                
        <% empty %>
                <span class="title"><h2><% gt "There are no comments." %></h2></span>
        <% end %>
		<span class="title"><h2><% gt "Create New Post" %></h2></span>
		<% include postform() %>
   		<br />
<% end template %>

<% end view %>


<% view adm_thread uses data::adm_thread  extends base_thread %>

<% template links() %>
<% include master::links() %>
        <a href="<% url "/adm_forums"%>"><% gt "Home" %></a>
<% end %>

<% template postform() %>
        <div class="forms"><a name="end"></a>
        <form id="postform"  action="#end" method="post" enctype="multipart/form-data" ><% csrf %>
        <table>
                <% form as_table form.author %>
                <% form as_table form.comment %>
                <% form as_table form.file %>
                <% form as_table form.send %>
        </table>
        </form>
        <% include master::note() %>
        </div>
<% end template %>

<% template adminform() %>
        <div class="forms">
        <table>
        <% form as_table dmes_form.onlyfile %>
        <% form as_table dmes_form.submit %>
        </table>
        </div>
<% end template %>

<% template body() %>
        <% foreach message in messages %>
                <form id="adminform" action="" method="post" enctype="multipart/form-data" ><% csrf %>
                <span class="title"><h2><% gt "Lists of the posts" %></h2></span>
                <span class="title"><h3><% gt "Admin view" %></h3></span>

                <% item %><table class="posts">
                <tr><td>
                <div class="post_flat">
                <div class="post_title">
                <input name="<% c++ out()<<message.msg_id; %>" value="<% c++ out()<<message.tid; %>" type="checkbox">
                <% include msg(message) %>
                </div></div></td></tr>
                </table><% end %>

                <span class="title"><h2><% gt "Section of the edit" %></h2></span>
                <% include adminform() %>
                </form>
        <% empty %>
                <span class="title"><h2><% gt "There are no comments." %></h2></span>
        <% end %>
        <span class="title"><h2><% gt "Create New Post" %></h2></span>
        <% include postform() %>
        <br />
<% end template %>

<% end view %>


<% view auth uses data::auth extends master %>

<% template title() %><% gt "Authentication" %><% end %>

<% template links() %>
        <% include master::links() %>
        <a href="<% url "/forums"%>"><% gt "Home" %></a>
        | <a href="<% url "/adm_forums"%>"><% gt "Admin view" %></a>
<% end %>

<% template body() %>
        <div class="forms">
        <form action="" method="post" enctype="multipart/form-data" ><% csrf %>
        <table>
                <% form as_table form.login %>
                <% form as_table form.password %>
                <% form as_table form.submit %>
                <tr><th>&nbsp;</th><td><b><%= status %></b></td><tr>
        </table>
        </form>
        </div>
        <br />
<% end template %>

<% end view %>


<% end skin %>
